@font-face {
    font-family: 'digital-clock-font';
    src: url('./font/digital-7\ \(mono\).ttf');
}

#container {
    padding: 5%;
    border: 1px;
    border-radius: 20px;
    border-style: solid;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 4%;
    height: 25%;
    background-color: rgb(66, 66, 66);
    box-shadow: 5px 8px 58px red;
}

body {
    background-image: url(https://www.desktopbackground.org/p/2015/03/20/919979_life-quotes-wallpapers-high-quality-for-desktop-uncalke-com_1920x1080_h.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#demo {
    font-family: 'digital-clock-font';
    width: fit-content;
    margin: 0 auto;
    font-size: 245%;
    color: red;
}